/** 
 * Reset all box-sizing
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-weight: 400;
  font-family: $base-font-family;
  color: $dark-color;
  background-color: $white-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 3;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  list-style-position: inside;
  margin-left: 0;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/**
 * Links
 */
a {
  color: $tint-color;
  text-decoration: none;

  &:visited {
    color: darken($dark-color, 15%);
  }

  &:hover {
    color: $tint-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border: 2px solid $grey-dark-color;
  border-radius: 8px;
  font-size: $funit;
  letter-spacing: 0px;
  padding: 12px;
  box-shadow: 0 4px 0 $grey-dark-color;
  > :last-child {
    margin-bottom: 0;
  }
  margin: 0 0 20px 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: $monospace-font-family;
  border-radius: 6px;
  background-color: $code-background-color;
}

code {
  padding: 4px 6px;
  font-size: 14px;
}

pre {
  padding: 16px;
  overflow-x: auto;

  > code {
    border: 0;
    padding: 0;
    display: inline-block;
    line-height: 24px;
    background-color: unset;
  }
}

@include dark-mode {
  pre {
    background-color: $code-background-color-darkmode;
  }

  code {
    background-color: $code-background-color-darkmode;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: $warpper-width;
  margin-right: auto;
  margin-left: auto;
  
  &.insetted {
    padding-left: $layout-unit;
    padding-right: $layout-unit;

    @include on-palm {
      padding-left: $unit * 2;
      padding-right: $unit * 2;
    }
  }

  @include media-query($on-palm) {
    max-width: 100%;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid $grey-color;

  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    border: 1px solid darken($grey-color, 4%);
    border-bottom-color: darken($grey-color, 12%);
  }
  td {
    border: 1px solid $grey-color;
  }
}

@include dark-mode {
  table {
    border: 1px solid $grey-color;

    th {
      color: $grey-color;
    }

    tr {
      color: $grey-color;
    }
  }
}
