<footer class="footer">
  <div class="music-title">
    <img src="{{ "/assets/icon-grey.svg" | relative_url }}" alt="">
    <p>The music lives on</p>
  </div>
  <div class="footer-items">
    <div class="footer-item">
      © 2022 {{ site.copyright_text }}
    </div>
    <div class="footer-item">
      <a href="/privacy-policy/" class="footer-link">Privacy Policy</a></li>
    </div>
    <div class="footer-item">
      {%- if site.email -%}
      <a class="footer-link" href="mailto:{{ site.email }}">Contact</a>
      {%- endif -%}
    </div>
  </div>
</footer>