<footer class="footer">
  <section class="full wrapper insetted footer-download">
      <img class="appicon" src="/assets/img/appicon.png" alt="">
      <h1>Music Plus</h1>
      <p>Bringing enhanced features to Apple Music</p>
      <a href="{{ site.appstore_link }}" target="_blank">
          <img class="download-badge" src="/assets/img/download-badge-black.png" alt="">
      </a>
  </section>
  <div class="music-title">
    <img src="{{ "/assets/icon-grey.svg" | relative_url }}" alt="">
    <p>The music lives on</p>
  </div>
  <div class="footer-items">
    <div class="footer-item">
      © 2023 {{ site.copyright_text }}
    </div>
    <div class="footer-item">
      <a href="/privacy-policy/" class="footer-link">Privacy Policy</a></li>
    </div>
    <div class="footer-item">
      {%- if site.email -%}
      <a class="footer-link" href="mailto:{{ site.email }}">Contact</a>
      {%- endif -%}
    </div>
  </div>
</footer>