@charset "utf-8";

// Define defaults for each variable.

@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/Roboto_Condensed.ttf");
}

$base-font-family: ui-sans-serif, system-ui, -apple-system, Helvetica, "Helvetica Neue", PingFang SC,
  BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Microsoft YaHei", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$serif-font-family: "PT Serif", ui-serif, Georgia, "STSongti SC", "SimSong", "STSong", "Source Serif Pro", "noto serif", serif;
$monospace-font-family: ui-monospace, Monaco, Menlo, "SF Mono Regular", "Lucida Console", SFMono-Regular, Consolas, "Courier New", Liberation Mono, monospace;

$nav-height: 70px !default;
$warpper-width: 1024px;
$layout-unit: 86px !default;
$unit: 8px !default;
$funit: 15px !default;

$tint-color: #F9273E !default;
$tint-color-dark: #F9273E !default;

$black-color: #000 !default;
$white-color: #FFF !default;

// Extend Variable Defines

$base-line-height: 1.5 !default;
$heavy-font-weight: 600;
$small-font-size: $funit * 0.875 !default;
$spacing-unit: 30px !default;

// Color defines
$grey-color: #919191 !default;
$grey-color-dark: #181818 !default;

$grey-bg-color: #fcfcfc !default;
$grey-bg-color-dark: #fcfcfc !default;


$dark-color: #222 !default;
$dark-color-darkmode: #eee !default;



$grey-border-color: #E5E5E6 !default;

$grey-dark-color: #888888 !default;
$grey-dark-color-darkmode: #aaaaaa !default;

$blue-color: rgb(21, 108, 207) !default;
$blue-color-darkmode: rgb(88, 166, 255) !default;

$code-background-color: lighten($dark-color, 83%) !default;
$code-background-color-darkmode: #ffffff10 !default;
$code-keyword-color: rgb(0, 119, 255) !default;
$blockquote-color: #737873 !default;
$blockquote-color-darkmode: #a8b2bd !default;

// Width of the content area
$content-width: 1080px !default;

$on-palm: 599px !default;
$on-laptop: 1024px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin on-palm {
  @media screen and (max-width: $on-palm) {
    @content;
  }
}

@mixin dark-mode {
  @media screen and (prefers-color-scheme: dark) {
    @content;
  }
}

// Import partials.
@import "theme/base", "theme/layout", "theme/post", "theme/syntax-highlighting",
  "theme/archives", "theme/projects", "theme/toc-sidebar", "theme/pagination",
  "theme/global-search", "theme/dark-mode", "custom/home", "custom/cover", "custom/updates";
